

.login-box,
.register-box {
    margin:9% auto;
    width: 360px;
}
.login-brand-text {
    margin-top: 5%;
}

.login-panel {
    margin-top: 5%;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
